<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/css/common/style.css" rel="stylesheet" type="text/css" />
<!--script language="JavaScript" src="__PUBLIC__/js/common/jquery.js"></script-->
<script language="JavaScript" src="__PUBLIC__/js/common/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(function(){
	//顶部导航切换
	$(".nav li a").click(function(){
		$(".nav li a.selected").removeClass("selected")
		$(this).addClass("selected");
	})
})
</script>


</head>

<body style="background:url(__PUBLIC__/images/common/topbg.gif) repeat-x;">

    <div class="topleft">
    <a href="__URL__/index" target="_parent"><img src="__PUBLIC__/images/common/logo.png" title="系统首页" /></a>
    </div>

    <ul class="nav">
    <li><a href="__URL__/Class_list" target="rightFrame" class="selected"><img src="__PUBLIC__/images/common/icon01.png" title="班级管理" /><h2>班级管理</h2></a></li>
    <li><a href="__URL__/Teacher_list" target="rightFrame"><img src="__PUBLIC__/images/common/icon02.png" title="教师管理" /><h2>教师管理</h2></a></li>
    <li><a href="__URL__/Student_list"  target="rightFrame"><img src="__PUBLIC__/images/common/icon03.png" title="学生管理" /><h2>学生管理</h2></a></li>
    <li><a href="__URL__/Work_list"  target="rightFrame"><img src="__PUBLIC__/images/common/icon04.png" title="作品管理" /><h2>作品管理</h2></a></li>
    <li><a href="__URL__/IMGlist_list" target="rightFrame"><img src="__PUBLIC__/images/common/icon05.png" title="校园风光" /><h2>校园风光</h2></a></li>
    <li><a href="__URL__/Sysconfig"  target="rightFrame"><img src="__PUBLIC__/images/common/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li>
    </ul>

    <div class="topright">
    <div class="user">
    <span>administrator</span>
    <a href="__MODULE__/Login/logout" target="_parent">退出</a>
    </div>

    </div>

</body>
</html>
