<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/css/common/style.css" rel="stylesheet" type="text/css" />
<!--script language="JavaScript" src="__PUBLIC__/js/common/jquery.js"></script-->
<script language="JavaScript" src="__PUBLIC__/js/common/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
$(function(){
	//导航切换
	$(".menuson .header").click(function(){
		var $parent = $(this).parent();
		$(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

		$parent.addClass("active");
		if(!!$(this).next('.sub-menus').size()){
			if($parent.hasClass("open")){
				$parent.removeClass("open").find('.sub-menus').hide();
			}else{
				$parent.addClass("open").find('.sub-menus').show();
			}


		}
	});

	// 三级菜单点击
	$('.sub-menus li').click(function(e) {
        $(".sub-menus li.active").removeClass("active")
		$(this).addClass("active");
    });

	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('.menuson').slideUp();
		if($ul.is(':visible')){
			$(this).next('.menuson').slideUp();
		}else{
			$(this).next('.menuson').slideDown();
		}
	});
})
</script>


</head>

<body style="background:#f0f9fd;">

    <dl class="leftmenu">

    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/images/common/leftico01.png" /></span>系统管理
    </div>
    	<ul class="menuson">

        <li>
            <div class="header">
            <cite></cite>
            <a href="__URL__/start" target="rightFrame">后台首页</a>
            <i></i>
            </div>
        </li>
        <li>
            <div class="header">
            <cite></cite>
            <a href="__URL__/Sysconfig" target="rightFrame">系统设置</a>
            <i></i>
            </div>
        </li>
        </ul>
    </dd>


    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/images/common/leftico02.png" /></span>教师管理
    </div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/Teacher_add" target="rightFrame">添加教师</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Teacher_list" target="rightFrame">教师列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Teacher_depaadd" target="rightFrame">教师部门添加</a></div><i></i></li>
        <li><div class="header"><cite></cite><a href="__URL__/Teacher_depalist" target="rightFrame">教师部门列表</a><i></i></div></li>
        </ul>
    </dd>


    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico03.png" /></span>学生管理</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/Student_add" target="rightFrame">添加学生</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Student_list" target="rightFrame">学生列表</a><i></i></div></li>
    </ul>
    </dd>


    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico04.png" /></span>班级管理</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/Class_add" target="rightFrame">添加班级</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Class_list" target="rightFrame">班级列表</a><i></i></div></li>
    </ul>

    </dd>

    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico04.png" /></span>内容管理</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/Content_add" target="rightFrame">添加内容</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Content_list" target="rightFrame">内容列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Content_classadd" target="rightFrame">添加分类</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Content_classlist" target="rightFrame">分类列表</a><i></i></div></li>
    </ul>

    </dd>

    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico04.png" /></span>校园风光</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/fengguang_add" target="rightFrame">添加信息</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/fengguang_list" target="rightFrame">信息列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/fgclass_add" target="rightFrame">添加分类</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/fgclass_list" target="rightFrame">分类列表</a><i></i></div></li>
    </ul>

    </dd>

    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico04.png" /></span>作品管理</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/zuopin_add" target="rightFrame">添加作品</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/zuopin_list" target="rightFrame">作品列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/zpclass_add" target="rightFrame">添加作品分类</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/zpclass_list" target="rightFrame">作品分类列表</a><i></i></div></li>
    </ul>

    </dd>

    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico04.png" /></span>管理员管理</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/Admin_add" target="rightFrame">添加管理员</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Admin_list" target="rightFrame">管理员列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Admin_roleadd" target="rightFrame">角色添加</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Admin_rolelist" target="rightFrame">角色列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Admin_juradd" target="rightFrame">添加功能</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Admin_jurlist" target="rightFrame">功能列表</a><i></i></div></li>
    </ul>

    </dd>

    <dd><div class="title"><span><img src="__PUBLIC__/images/common/leftico04.png" /></span>单页管理</div>
    <ul class="menuson">
        <li><div class="header"><cite></cite><a href="__URL__/Page_add" target="rightFrame">添加单页</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Page_list" target="rightFrame">单页列表</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Page_classadd" target="rightFrame">添加单页分类</a><i></i></div></li>
        <li><div class="header"><cite></cite><a href="__URL__/Page_classlist" target="rightFrame">单页分类列表</a><i></i></div></li>
    </ul>

    </dd>

    </dl>

</body>
</html>
