<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/public_style.css">
<title>添加内容</title>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>添加内容</li>
    </ul>
</div>
<table cellpadding="0" cellspacing="1" class="left">
	<tr>
    	<th>信息标题：</th><td><input type="text" name="" value=""></td>
    </tr>
    <tr>
    	<th>信息分类：</th><td><select><option>第一个分类</option></select></td>
    </tr>
    
    <tr>
    	<th>内容：</th><td><textarea></textarea></td>
    </tr>
    <tr>
    	<td colspan="2"><input type="submit" class="submit" value="提交保存"></td>
    </tr>
</table>
</body>
</html>
