<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/public_style.css">
<title>作品添加</title>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>作品添加</li>
    </ul>
</div>
<table cellpadding="0" cellspacing="1" class="left">
	<tr>
    	<th>作品名称：</th><td><input type="text" name="" value=""></td>
    </tr>
    <tr>
    	<th>作者：</th><td><select><option value="0">admin</option></select> 调用用户表的用户名称</td>
    </tr>
    <tr>
    	<th>分类：</th><td><select><option value="0">美术班分类</option></select></td>
    </tr>
    <tr><th>作品上传：</th><td>
            <a href="javascript:;" class="file">选择文件
            <input type="file" name="" id="">
            </a><span style="display:block; height:30px; line-height:30px; margin-top:-35px; margin-left:90px;">XXX/XXX.JPG</span>
        </td>
    </tr>
    <tr>
    	<th>作品描述：</th><td><textarea></textarea></td>
    </tr>
    <tr>
    	<td colspan="2"><input type="submit" name="" class="submit" value="提交保存"></td>
    </tr>
</table>
</body>
</html>
